[*.cs]
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1307.severity = none

# CA1707: Identifiers should not contain underscores
# I want to use underscores in unit test names
dotnet_diagnostic.CA1707.severity = none
