<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="52605Chroomsoft.nl.Top2000"
    Publisher="CN=D95AA35D-D179-4CB0-ABCA-E6C1F40A082A"
    Version="6.0.3.0" />

  <mp:PhoneIdentity PhoneProductId="69e5ee63-3b4c-40cf-929e-087b8b20e568" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Top 2000</DisplayName>
    <PublisherDisplayName>Chroomsoft</PublisherDisplayName>
    <Logo>Common\Assets\Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Chroomsoft.Top2000.WindowsApp.App">
      <uap:VisualElements
        DisplayName="Top 2000"
        Square150x150Logo="Common\Assets\Images\Square150x150Logo.png"
        Square44x44Logo="Common\Assets\Images\Square44x44Logo.png"
        Description="Top 2000"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Common\Assets\Images\Wide310x150Logo.png" Square71x71Logo="Common\Assets\Images\SmallTile.png" Square310x310Logo="Common\Assets\Images\LargeTile.png" ShortName="Top 2000">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Common\Assets\Images\SplashScreen.png"  BackgroundColor="#DA161C"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>